<!DOCTYPE html>
	<html>
		<head>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
			</script>

			<link rel="stylesheet" href="/css/poole.css">
			<link rel="stylesheet" href="/css/syntax.css">
			<link rel="stylesheet" href="/css/lanyon.css">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

			
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->

		</head>
		<body>
			    <div class="container content">
        <header class="masthead">

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </nav>

        </header>

        <main>
            {{ content }}
        </main>

        <footer>

            <ul>
                <li><a href="mailto:alexv@gmx.de">email</a></li>
                <li><a href="https://github.com/volkale">github.com/volkale</a></li>
                <li><a href="/privacy">privacy policy</a></li>
            </ul>

        </footer>
    </div>
			
		{% include cookie_consent.html %}
			
		</body>
	</html>
